<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>CartShop Email Receipt</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <h1>CartShop</h1>
        </header>
        <section class="checkout">
            <h2>Your Order is Complete!</h2>
            <div class="checkout-container">
                <div class="primary-container">
                    <p>
                        <h3>Thank your for your order!</h3>
                        <span th:text="|Your order number is ${orderNumber}. Feel free to contact us at accounts@cartshop.com if you have any questions or comments. Thanks again!|">city+state+country</span>
                    </p>
                    <table th:object="${shippingAddress}">
                        <th>Shipping Info:</th>
                        <tr>
                        	<td th:text="*{firstName} + ' ' + *{lastName}">firstname+lastname</td>
                        </tr>
                        <tr>
                        	<td th:text="*{streetAddress}">123 Anywhere Lane</td>
                        </tr>
                        <tr>
                        	<td th:text="|*{city}, *{state}, *{country}|">city+state+country</td>
                        </tr>
                        <tr>
                        	<td th:text="*{zipCode}">zipcode</td>
                        </tr>
                        <tr>
                        	<td th:text="*{email}">email</td>
                        </tr>
                        <tr>
                        	<td th:text="*{phoneNumber}">phone</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>