<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>CartShop</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="/js/site.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" th:href="@{/css/normalize.css}"/>
        <link rel="stylesheet" type="text/css" href="/static/css/site.css" th:href="@{/css/site.css}"/>
        <meta http-equiv="refresh" content="3; url=/checkout/email"/>
    </head>
    <body>
        <header>
            <a class="logo" href="/product/">CartShop</a>
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </nav>
        </header>
        <section class="checkout">
            <h1>Your Order is Complete!</h1>
            <div class="checkout-container">
                <div class="primary-container">
                    <div class="thank-you-message">
                        <h3>Thank your for your order!</h3>
                        <span th:text="|Your order number is ${orderNumber}. Feel free to contact us at accounts@cartshop.com if you have any questions or comments. Thanks again!|">city+state+country</span>
                    </div>
                    <div class="summary-info" th:object="${shippingAddress}">
                        <h3>Shipping Info:</h3>
                        <span th:text="*{firstName} + ' ' + *{lastName}">firstname+lastname</span>
                        <span th:text="*{streetAddress}">123 Anywhere Lane</span>
                        <span th:text="|*{city}, *{state}, *{country}|">city+state+country</span>
                        <span th:text="*{zipCode}">zipcode</span>
                        <span th:text="*{email}">email</span>
                        <span th:text="*{phoneNumber}">phone</span>
                    </div>
                    <div class="summary-info">
                        <div th:unless="${billingAddress != null}">
                        	<h3>Billing Info:</h3>
                        	<span>Same as shipping</span>
                        </div>
                        <div th:if ="${billingAddress != null}" class="summary-info" th:object="${billingAddress}">
                        	<h3>Billing Info:</h3>
	                        <span th:text="*{firstName} + ' ' + *{lastName}">firstname+lastname</span>
	                        <span th:text="*{streetAddress}">123 Anywhere Lane</span>
	                        <span th:text="|*{city}, *{state}, *{country}|">city+state+country</span>
	                        <span th:text="*{zipCode}">zipcode</span>
	                        <span th:text="*{email}">email</span>
	                        <span th:text="*{phoneNumber}">phone</span>
	                    </div>
                    </div>
                    <div class="summary-info">
                        <h3>Billing Info:</h3>
                        <span th:text="|Credit Card ${creditCard}|">Credit Card XXXX</span>
                    </div>
                </div>
                <div class="mini-cart">
                    <h3>Order Summary</h3>
	                <div th:each="productPurchase,iterStat : ${purchase.productPurchases}" class="cart-item">
			            <div class="item">
			                <a th:href="@{/detail/{productId}(productId=${productPurchase.product.id})}"><img class="img-thumb" th:src="@{/product/{productId}/image(productId=${productPurchase.product.id})}"/></a>
			                <h2><a th:href="@{/detail/{productId}(productId=${productPurchase.product.id})}" th:text="${productPurchase.product.name}">Product Title</a></h2>
			                <span class="price" th:text="${'$' + #numbers.formatDecimal(productPurchase.product.price, 1, 2, 'POINT')}">$199.00</span>
			                <span th:inline="text" class="item-quantity">Quantity: [[${productPurchase.quantity}]]</span>
			            </div>
		            </div>
                    <div class="subtotal-small">
                        Subtotal: <strong><span th:text="${'$' + #numbers.formatDecimal(subTotal, 1, 2, 'POINT')}">$199.00</span></strong><br />
                        Shipping: <strong><span th:text="${'$' + #numbers.formatDecimal(shippingCost, 1, 2, 'POINT')}">$199.00</span></strong>
                    </div>
                    <div class="subtotal">
                        Total: <strong><span th:text="${'$' + #numbers.formatDecimal(orderTotal, 1, 2, 'POINT')}">$199.00</span></strong>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>